:root {
    --primary-color: #fff;
    --secondary-color: #7F9F9C;
    --green: #3FD590;
}

body {
    background: linear-gradient(135deg, #102e3d 0%, rgba(0, 0, 0, 0) 100%),
    #1b2222 no-repeat center center / cover;
    position: relative;
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}


body::after {
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0) 100%) no-repeat ;
    z-index: -1;
    opacity: 0.25;
}

.app {
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px ;
}

.app-overflow {
    max-height: 100dvh;
}

h2, h3, h4,h5, h6 {
    font-weight: 300;
}

h2 span, h3 span, h4 span {
    color: var(--secondary-color);
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}