:root {
    --primary-color: #fff;
}

body {
    background: linear-gradient(135deg, #102e3d 0%, rgba(0, 0, 0, 0) 100%),
    #1b2222 no-repeat center center / cover;
    position: relative;
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}


body::after {
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0) 100%) no-repeat ;
    z-index: -1;
    opacity: 0.25;
}

.app {
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px ;
}