.block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text span {
    color: var(--green);
}

.friends {
    font-weight: 500;
}

.box {
    padding: 16px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.57);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-weight: 300;
    text-align: center;
}

.list {
    max-height: 250px;
    overflow-y: scroll;
}

.item {
    padding: 12px 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
}

.item:last-child {
    border: none;
}


.left, .right {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.right {
    align-items: flex-end;
}

.link {
    color: var(--secondary-color);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.days {
    color: var(--green);
}

.date {
    font-size: 12px;
    color: var(--secondary-color);
}