.buying {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.oldPrice {
    text-decoration-line: line-through;
    font-weight: 300;
    font-size: 14px;
    margin-left: 6px;
}