.box {
    padding: 24px;
    border-radius: 12px;
    position: relative;
    background: linear-gradient(270deg,rgba(89, 198, 229, 0.1),rgba(0, 0, 0, .2));
}

/*.box::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    border-radius: 12px;*/
/*    background-image: linear-gradient(230deg, rgba(89, 199, 229) 0%, rgba(0, 0, 0, 0) 100%);*/
/*    opacity: .2;*/

/*}*/

