.button {
    width: 100%;
    padding: 18px 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(270deg,rgba(9, 175, 124, 0.08),rgba(0, 0, 0, 0));
    border: 1px solid #36575D;
    color: var(--primary-color);
}


.button.center {
    justify-content: center;
}

.button.green {
    background: linear-gradient(135deg, var(--green) 0%, #00a878 100%);
    border: none ;

}

.end {
    font-size: 14px;
    font-weight: 300;
    margin-left: auto;
    color: var(--green);
}

.button.green .end {
    color: var(--primary-color);
}