.button {
    width: 100%;
    padding: 18px 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    gap: 8px;
    font-size: 16px;
    background: linear-gradient(270deg, rgba(9, 175, 124, 0.08), rgba(0, 0, 0, 0));
    border: 1px solid #36575D;
    color: var(--primary-color);
}

.button.center {
    justify-content: center;
    text-align: center;
}

.button.green, .button.green-pulse {
    font-weight: 500;
    background: linear-gradient(135deg, var(--green) 0%, #00a878 100%);
    border: none;
}

.button.green-pulse,
.button.pulse{
    position: relative;
}

.button.green-pulse:after,
.button.pulse:after {
    content: "";
    z-index: -1;
    position: absolute;
    border-radius: inherit;
    inset: 0;
}

.button.green-pulse:after {
    animation: greenPulse 1.6s ease-out infinite;
}

.button.pulse:after {
    animation: pulse 1.6s ease-out infinite;
}

.button.gradient {
    background: linear-gradient(270deg, rgba(89, 198, 229, 0.1), rgba(0, 0, 0, .2));
    border: none;
    padding: 18px;
    font-weight: 300;
    gap: 12px;
}

.end {
    font-weight: 300;
    margin-left: auto;
    color: var(--green);
}

.button.green .end {
    color: var(--primary-color);
}


@keyframes greenPulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
        box-shadow: 0 0 0 0 rgba(63, 213, 144,.9);
    }
    70% {
        opacity: 0;
        box-shadow: 0 0 0 14px rgba(63, 213, 144, 0);
    }
    100% {
        opacity: 0;
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.6;
        box-shadow: 0 0 0 0 rgba(161, 174, 174, 0.9);
    }
    70% {
        opacity: 0;
        box-shadow: 0 0 0 14px rgba(161, 174, 174, 0);
    }
    100% {
        opacity: 0;
    }
}
