.radar {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wave {
    position: absolute;
    inset: 0;
    border: 1px solid rgba(63, 213, 144, 0.6);
    border-radius: 50%;
    opacity: 0;
    animation: anima 6s  linear   infinite;
    z-index: 10;
}

@keyframes anima {
    0%   { transform: scale(0.3); opacity: 0; }
    15%   { opacity: .5; }
    50%   { opacity: 1; }
    100% { transform: scale(1);  opacity: 0; }
}