.radar {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.circle {
    position: absolute;
    inset: 0;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 50%;
    opacity: 0;
    animation: anima 3s linear infinite;
}


@keyframes anima {
    0%   { transform: scale(0.3); opacity: 1; }
    /*15%  { opacity: 1; }*/
    100% { transform: scale(1); opacity: 0; }
}