.profile {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding-top: 21px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text {
    font-weight: 300;
}