.item {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
}

.item:last-child {
    border: none;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.date {
    font-size: 12px;
    font-weight: 300;
    color: var(--secondary-color);
}

.price {
    font-weight: 300;
    color: var(--green);
}