.top {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.num {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    font-size: 36px;
    border-radius: 14px;
    background: linear-gradient(135.00deg, rgba(62.56, 213.32, 143.59, 1) 0%,rgba(0, 168, 120, 1) 100%);
}

.right {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message {
    left: 2px;
    bottom: 0;
    transform: translateY(100%);
}