.info {
    margin-top: auto;
    text-align: center;
}

.text {
    max-width: 254px;
    margin: 16px auto 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 36px;
}