.menu {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.button {
    width: calc(50% - 6px);
}

.setting {
    width: 100%;
    position: relative;
    z-index: 11;
}

.message {
    top: -48px;
    left: 66px;
}
